@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

body {
  /* use 'text-light-blue bg-white' in light-mode  */
  /* selection highlight color defined here --- */
  @apply font-base text-white bg-light-blue selection:text-light-blue selection:bg-accent/[.99];
  -webkit-tap-highlight-color: transparent !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #75FFE5 transparent;  /* scroll "thumb" and "track" color */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8.5px; /* 12px */
}

*::-webkit-scrollbar-track {
  @apply bg-light-blue;
  /* background: transparent !important; transparent */
}
*::-webkit-scrollbar-thumb {
  @apply bg-accent;
  /* border-radius: 25px; */
  /* border: 2px solid transparent; 3px #59636b */
}

nav ::-webkit-scrollbar-track {
  @apply bg-dark-blue;
}

.nav-link {
  @apply outline-none border-b-2 border-transparent hover:text-accent active:border-accent focus:text-accent focus:border-b-2 focus:border-accent pb-2 transition-all duration-500 ease-out
}